
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
    Nietnix is a new company focussed on revolutionalizing video-on-demand services
     by making it pay per view instead of a monthly subscription fee.
</p>
<p>
    <a class="btn btn-default" href="Index">
        Home &raquo;
    </a>
</p>